body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 'Protest Revolution', sans-serif;
}
.hero, footer, .image-carousel-group{
    background-color: #000000;
}
.feature li{
    background-color: rgb(230, 230, 230);
    transition: all 0.5s ease;
    cursor: pointer;
}


.feature li:hover{
    background-color: rgb(32, 32, 32);
    color: white;
}
.feature li:hover ~ .feature li i{
    color: rgb(255, 196, 0);
}
.blog li:hover{
  transform: scale(1.1);
}
footer li a{
    color: grey;
}
footer li a:hover{
    color: rgb(255, 196, 0)
}

